{% include '_header.twig' %}

	 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Instaclone</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    	<!--
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
    -->
    {% if error is defined %}
      <br />
	    <div class="alert alert-danger">
		  	<p>{{error}}</p>
			</div>
		{% endif %}
    	<br />
 			<div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Upload image here</h3>
        </div>
        <div class="panel-body">
					<form enctype="multipart/form-data" action="" method="POST">
					    <input type="hidden" name="MAX_FILE_SIZE" value="52428800" />
					    Upload image:
					<br><br>
					<input name="image" type="file" />
					<br><br>
					    <input type="submit" value="Send File" />
					</form>
        </div>

        <!-- if image exists -->
        {% if image_path is defined %}
        <div class="well">
        	<img id="image-canvas" class="img-thumbnail" src="{{image_path}}" />
        	<br /> <br />
	        <div class="btn-group filter-buttons">
	        	<p>
	        	{% for key,preset in imagine_presets %}
		          <button type="button" data-preset="{{key}}" class="btn btn-primary btn-lg">{{preset}}</button>
		        {% endfor %}
		      	</p>
					</div>
		      <button type="button" id="save-button" class="btn btn-success btn-lg"> Save </button>
					<!--
						<label> URL </label>
				 		<input type="text" size="100" disabled="disabled" value="{{site_base_url}}{{image_path}}">
				 	-->
        </div>
        {% endif %}
      </div>

		</div>

    </div><!-- /.container -->


{% include '_footer.twig' %}